body {
  font-family: verdana;
  margin-bottom: 30px;
}

.jumbotron {
   padding-top: 20px;
   padding-bottom: 20px;
   color: white;
   background-color: #4527A0;
}

.checkbox {
  margin-top: 0;
  margin-right: 0;
}

.checkbox label {
  padding-left: 0;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.btn {
  margin-bottom: 40px;
  margin-top: 10px;
}

#items-to-pack, #packed-items {
  margin: 0;
  padding-left: 40px;
  padding-bottom: 20px;
  list-style: none;
}

li label span, input{
  cursor: pointer;
}

label.checkbox {
  font-weight: normal;
}

.packed {
  color: #85929E;
}
